@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  width: 100%;
  height: 100%;
}
p{
  padding: 0;
  margin: 0;
}
.contner{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.app-container {
  padding-bottom: 50px;
}

#__vconsole {
  display: none;
}
.btn{
  background: linear-gradient(90deg, #EFC75D 0%, #C58925 100%);
  margin: 10px auto;
  text-align: center;
  }
.line{
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin: 0 auto;
}